{% extends 'index.html.twig' %}
    {% block body %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Products</h1> <br>
                    <ol class="breadcrumb mb-4">
                        <a href="{{ path('app_product_new') }}"> <button type="button" class="btn btn-primary">Create a new</button> </a>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            List of products
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Photo</th>
                                    <th>Price</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>actions</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.title }}</td>
                                        <td><img src="{{ asset('uploads/' ~ product.image) }}" alt="Produit Image" width="40px" height="40px"></td>
                                        <td>{{ product.price }}</td>
                                        <td>
                                            <a href="{{ path('app_product_delete', {'id': product.id}) }}">                                        <span class="material-symbols-outlined">
delete
</span></a>
                                            <a href="{{ path('app_product_edit', {'id': product.id}) }}"><span class="material-symbols-outlined">
edit
</span></a>
                                            <a href="{{ path('app_product_show', {'id': product.id}) }}">                                       <span class="material-symbols-outlined">
library_books
</span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">SDE &copy; MyPhone 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    {% endblock %}
